<div class="share">
	<div class="addthis_toolbox addthis_default_style ">
	{% if site.facebook_like %}
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	{% endif %}
	{% if site.twitter_tweet_button %}
	<a class="addthis_button_tweet"></a>
	{% endif %}
	{% if site.google_plus_one %}
	<a class="addthis_button_google_plusone" g:plusone:size="{{ site.google_plus_one_size }}"></a>
	{% endif %}
	<a class="addthis_counter addthis_pill_style"></a> 
	{% if site.jiathis_share %}
  <div class="jiathis_style_24x24" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block;  background: transparent;">
    <a class="jiathis_button_weixin"></a>
    <a class="jiathis_button_tsina"></a>
  </div>
  {% endif %}

	</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55feaeb30deede75" async="async"></script>
</div>


